<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <img src="/images/Shredit.png" id="logo"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shredit</title>
        <link rel="stylesheet" type="text/css" href="/css/styleindex.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  
</head>

<body>
    <nav id=sticky-nav>
        <img id="shredit-img" src="/images/shredit.svg">
        <a href='/workouts/new/'><i class="fa fa-plus-circle"></i> NEW SHREDit</a>
    </nav>
    <div id="shredit-intro">
        <!-- <h4 id="shredit-query">What Do You Want To SHRED?</h4> -->
    </div>
    <div id="shredit-container-flex">
        <% for (let i = 0; i <workouts.length; i++) { %>
            <div class = "shredit-item">
                <div class="shredit-image">
                    <a href='/workouts/<%=workouts[i]["_id"]%>'><img src=<%=workouts[i]["img"]%> alt="item image" width="500px" height="250px"> </a>
                    <h4 class="item-header"><b><%=workouts[i]["shredTarget"]%></b></h4>
                </div>                    
            </div>                 
        <% } %>
    </div>
    <div id="new-shredit">
        <footer>
            <p>Created By: Tania Sainvilus</p>
          </footer>
    </div>
    
</body>
</html>