<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>What Do You Wanna Shred?</h1>
        <form action="/workouts" method="POST">
            Shred Target: <input type="text" name="shredTarget"/><br/>
            Shred it Workout: <input type="text" name="shredWorkout"/><br/>
            Img: <input type="url" name="img"/><br/>
            video: <input type="url" name="video" /><br/>
            Ready To Shred: <input type="checkbox" name="readyToShred" /><br/>
            <input type="submit" name="" value="Shredit"/>
        </form>
    </body>
</html>